@media screen and (max-width: 1204px) {
  .text1 {
    margin-top: 20%;
  }
}
@media screen and (max-width: 500px) {
  .text1 {
    margin-top: 50%;
  }
  .text1 p{
    line-height: 1.5rem;
    margin: 15px;
  }
}
